* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  background-color: cadetblue;
}

table {
  width: 428px;
  border: 10px solid lightskyblue;
  background: black;
}

tr {
  flex-wrap: wrap;
  display: flex;
}

td {
  animation-delay: 250ms;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  margin: 1px;
  font-size: 1.5em;
  cursor: pointer;
  background-color: burlywood;

  /* Animation CSS for load fadein */
  -webkit-animation: fadeIn 0.6s linear;
  animation: fadeIn 0.6s linear;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.empty {
  background-color: white;
}

button {
  margin-top: 40px;
}

.hint {
  margin-top: 16px;
  opacity: 0;
  font-size: 1.2rem;
  transition: .3s opacity ease;
}

.active {
  opacity: 1;
}

td:nth-child(1) {
  -webkit-animation-delay: 0.26s;
  animation-delay: 0.26s;
}

td:nth-child(2) {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

td:nth-child(3) {
  -webkit-animation-delay: 0.76s;
  animation-delay: 0.76s;
}

td:nth-child(4) {
  -webkit-animation-delay: 1s;
  animation-delay: 1s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  75% {
    opacity: 0.6;
  }

  100% {
    opacity: 2;
  }
}
